@keyframes twonine-spaceout{
    from{letter-spacing: 1.5px;}
    to{letter-spacing: 2.5px;}
}

@keyframes twonine-spacein{
    to{letter-spacing: 1.5px;}
    from{letter-spacing: 2.5px;}
}

body{
    overflow: hidden;
}

.inside-grid{
    display: grid;
    grid-template-rows: auto auto;
}

.inner-body{
    background-color: rgb(83, 54, 54);
    box-sizing: border-box;
    padding: 10px;
    height: 80vh;
    border: 1px white solid;
    overflow-x: hidden;
    overflow-y: hidden;
    display: grid;
    grid-template-rows: auto auto;
}

.twonine{
  font-size: 20px;
  letter-spacing: 1.5px;
  color: rgb(204, 204, 204);
}

.title-block{
    background-image: url("https://st.depositphotos.com/1049680/51697/i/1600/depositphotos_516974520-stock-photo-young-latin-woman-holding-badminton.jpg");
}

.twonine:hover{
    letter-spacing: 2.5px;
    animation: twonine-spaceout 0.5s ease-out;
}

.twonine:not(hover){
    letter-spacing: 1.5px;
    animation: twonine-spacein 0.5s ease-out;
}

.twonine-underline{
    color: white;
    width: 40%;
}

h3{
    color: white;
}

p{
    color: rgb(204, 203, 203);
    font-size: 18px;
}

li{
    color: rgb(204, 203, 203);
    font-size: 18px;
}

.p-holder{
    width: 95%;
    margin: auto;
    box-sizing: border-box;
    padding: 5px;
}

.achievement{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.achievement-img{
    height: 325px;
}

.achievement-txt{
    width: 40%;
    margin: auto;
}

.inspire-award{
    display: flex;
}

.connect-award{
    display: none;
}

.competing{
    display: none;
}

.achievement-flex{
    display: flex;
    width: 100%;
}

@media screen and (max-width: 810px){
    .twonine-underline{
        width: 300px;
    }
}