@keyframes ghost-robotics-swell {
    to {font-size: 53px;}
    from {font-size: 50px;}
}

@keyframes ghost-robotics-shrink {
    from {font-size: 53px;}
    to {font-size: 50px;}
}

@keyframes achievements-swell{
    to {font-size: 60px;}
    from {font-size: 55px;}
}

@keyframes achievements-shrink{
    from {font-size: 60px;}
    to {font-size: 55px;}
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #410b14ff;
}

.icon {
  width: 50px;
  height: 50px;
}

.header-elm{
  opacity: 0;
}

.navbar {
  background-color: #262626ff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.inner-navbar {
  display: flex;
  justify-content: space-between;
}

.img-component {
  width: 280px;
  display: grid;
  grid-template-columns: auto auto;
}

.mobile-ver{
  width: 150px;
}

h4 {
  color: white;
}

.links-component {
  width: 600px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

.links-mobile-component{
  width: 20%;
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
}

.other-links-mobile{
  display: none;
  width: 150px;
  background-color:#262626ff;
  position: fixed;
  right:0;
  top:60px;
}

.full-mobile-nav{
  display: none;
}

.drop-down-nav{
  background-color: transparent;
  color: white;
  border: none;
  /*position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);*/
}

.nav-dropdown{
  display: grid;
  grid-template-columns: auto auto;
}

a {
  color: white;
  text-decoration: underline;
}

.nav-link {
  width: 100%;
  height: 100%;
  text-align: center;
}

.nav-link:hover {
  background-color: #050505ff;
}

.nav-option:checked{
  box-shadow: 0 0 10px 100px #050505ff inset;
  background-color: #050505ff;
}

.site-body {
  margin-top: 80px;
}

h2 {
  color: white;
  text-align: center;
}

h1 {
  color: white;
  text-align: center;
}

.footer-txt {
  color: #430a13ff;
  font-size: 15px;
}

.footer {
  background-color: white;
  border-top: 1.5px solid #595959;
  width: 100%;
  position: fixed;
  bottom: -10px;
  left: 0;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}

.footer-unweighted-txt {
  font-weight: 200;
}

.git-icon {
  width: 30px;
  height: 30px;
}

.title-block{
    border: 1px white solid;
    height: 75vh;
    box-sizing: border-box;
    padding: 10px;
    background-position: center top;
    background-color: rgba(65, 11, 20, 0.6);
    background-blend-mode: darken;
}

.inner-title-block{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inner-body{
    background-color: rgb(83, 54, 54);
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    border: 1px white solid;
}

.flex{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.arrow{
    height: 435px;
    width: 10%;
    font-size: 50px;
    font-weight:100;
    background-color: transparent;
    color: white;
    border: transparent;
}

.inner-flex{
    width: 75%;
    border: 1px white solid;
}

.info-flex{
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.info-p{
  color: white;
  border: 0.5px white solid;
  width: 300px;
  box-sizing: border-box;
  padding: 5px;
}

.divider{
  width: 80%;
}

.info-img{
  width: 30%;
}

.gnocchiInfo{
  width: 60%;
  font-size: 18px;
  color: white;
}

.qualifier{
  color: black;
  font-size: 15px;
}

.intoTheDeep{
  display: flex;
}

.centerStage{
  display: none;
}

.powerplay{
  display: none;
}

.freightFrenzy{
  display: none;
}

.ultimateGoal{
  display: none;
}

.skystone{
  display: none;
}

.roverRuckus{
  display: none;
}

.relicRecovery{
  display: none;
}

.top-display{
  display: flex;
}

.small-arrow{
  background-color: transparent;
  border: none;
}

.twenty{
  display: none;
}

.nineteen{
  display: none;
}

.eighteen{
  display: none;
}

.mobile-other{
    font-size: 15px;
}

.black-screen{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    z-index: 10;
}

.ghost-robotics-title{
    font-size: 50px;
    width: 100%;
    margin: auto;
    color: rgb(189, 189, 189);
    text-shadow: rgb(39, 38, 38) 2px 2px;
}

.ghost-robotics-title:hover{
    font-size: 53px;
    animation: ghost-robotics-swell 0.4s ease-out;
}

.ghost-robotics-title:not(hover){
    font-size: 50px;
    animation: ghost-robotics-shrink 0.4s ease-out;
}

.page-title{
    font-size: 55px;
    width: 100%;
    margin: auto;
    text-shadow: 2px 2px black;
}

.page-title:hover{
    font-size: 60px;
    animation: achievements-swell 0.4s ease-out;
}

.page-title:not(hover){
    font-size: 55px;
    animation: achievements-shrink 0.4s ease-out;
}